html,body{
    font-family: 'Arial',sans-serif;
}



.modal-large{
   width:760px;
   height: 460px;
   margin-left:-380px;
   overflow-y:hidden;
}

#dc-search-fields input{
    margin-bottom: 6px;

}

#dc-search-btn{
    float:right;

}

#dc-results{
    height:400px;
    overflow-y:scroll;
}

td.release-info h5{
    padding:0;
    margin: 0;
}
#dc-results-pagination h5{
    float:left;
    margin: 4px;
    font-size:10px;
}
td.thumb {
    width:90px;
}
td.thumb i{
    float:right;
    color:#999;
}

/*.row:nth-child(odd){
    background-color: #F2F2F2
}
*/

#release-details img {
    float:right;
}
#release-details ul {

    float:left;
}
#release-details h1{
    margin:0;
}
#release-details .heading{
    clear: both;
}
#release-details h3{
    margin:0;
    padding:0;
    line-height:30px;
}


#dc-status {float:right;display: none;}


.release_entry {float:left;clear:both;margin-top:5px;}
.release_entry .description{float:left;}
.release_entry img{float:left;}



/*dynamo*/
div.dynamo{position: relative;overflow: hidden;}
div.dynamo > div{position:relative;width:200%; height: 100%;}
.page{position: relative;width:50%;float:left;left:-50%;}
.page.active{left:0px;}



#slide0{background-color: red}
#slide1{background-color: blue}

#slide3{background-color: green}
#slide4{background-color: yellow}