html,body{
    font-family: 'Arial',sans-serif;
}

.modal-large{
   width:740px;
   margin-left:-350px;
}

#dc-search-fields input{
    margin-bottom: 6px;

}

#dc-search-btn{
    float:right;

}

#dc-results{
    height:280px;
    overflow-y:scroll;
}

#dc-search-results{
    height: 320px;
    overflow-y: scroll;

}
#dc-controls {
    height:40px;
}
td.release-info h5{
    padding:0;
    margin: 0;
}
#dc-results-pagination {
    z-index:10;
    margin:10px 0;
}
#dc-results-pagination h5{
    float:left;
    margin: 4px;
    font-size:10px;
}
td.thumb {
    width:90px;
}
td.thumb i{
    float:right;
    color:#999;
}




#release-details img {
    float:right;
}
#release-details ul {
    max-width:280px;
    float:left;
}
#release-details h1{
    margin:0;
}
#release-details .heading{
    clear: both;
}
#release-details h3{
    margin:0;
    padding:0;
    line-height:30px;
}


#dc-status {float:right;display: none;}


.release_entry {float:left;clear:both;margin-top:5px;}
.release_entry .description{float:left;}
.release_entry img{float:left;}